#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar relleno predeterminado */
  font-family: Arial, sans-serif; /* Fuente general */
  background: linear-gradient(135deg, #bd540e, #c20fb9); /* Degradado suave de colores claros */
  color: #333; /* Color de texto general */
}

/* src/App.css */

.titulo-personas {
  font-size: 2.5em; /* Aumentar el tamaño de fuente */
  color: #fff; /* Color blanco */
  text-align: center; /* Centrar el texto */
  margin-bottom: 20px; /* Espacio debajo del título */
  font-family: 'Georgia', serif; /* Cambiar la fuente */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
  background-color: #4a90e2; /* Color de fondo azul */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Esquinas redondeadas */
}

